.fundoPreto{
    background-color: #00000088;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal{
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
